/* Global layout rules */ 

body {
  font-size: 20px;
  line-height: 1.5;
  font-family: Tahoma bold, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background: #e8e9e9;
}

table {
  border-spacing: 10px;
}

td {
  padding: 5px 10px 5px 10px;
  position: center;
}

div .calpg {
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 20px 0px;
  vertical-align: bottom;
}

footer .copyright {
  font-family: Tahoma, sans-serif;
  font-size: 0.75em;
  position: sticky;
}

img[src*="thumb"] {
  margin: 4px;
  border: 0;
  width: 180px;
  height: 140px;
} 

img:hover[src*="thumb"] {
  transform: scale(1.75); /* this enlarges the image when hovered upon */
}

/* Rules by class */ 

.bdy-wrapper {
  background: url('../img/vodka-column-0.5.gif') top center ;
  background-size: 100%;
  background-repeat: repeat-y;
}

.hdr {
  max-width: 350px;
  max-height: 109px;
  background-color: #ce9f33;
  color: #843c0c; /*text color */
  padding: 15px;
  border-radius: 15px;
  margin: 10px auto;
  font-weight: bold;
}

.logo {
  text-align: right;
}

.subtitle {
  color: #843c0c; /*text color */
  background-color: #ce9f33;
  font-size: 30px;
  text-align: left;
  padding-left: 15px;
  border-radius: 15px;
  display: table;
  margin: 10px auto;
  position: center;
}

.mnt-nav {
  font-size: 1em;
  color: #843c0c; /*text color */
  background-color: #ce9f33;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 10px;
  margin: 10px auto;
  position: center;
  border: 10px;
  border-color: #ce9f33;
  text-decoration: none;
}

.dates {
  width: 65%;
  background-color: white;
  font-size: 15px;
  margin: 10px auto;
  text-align: left;
  font-weight: bold;  
  padding: 20px;
  border-radius: 15px;
}

.calpg {
  width: 65%;
  padding: 20px;
}

.gallery {
  padding: 20px;
  border: none;
}

.event_date {
  color: #843c0c;
}

.intro_course {
  color: #cf9f3d;
  padding-left: 10px;
}

.intermed_course {
  color: #c47030;
  padding-left: 10px;
}

.adv_course {
  color: #a83c39;
  padding-left: 10px;
}

.prv_course {
  color: #ffd965;
  padding-left: 10px;
}

.dist_event {
  color: #a8d08e;
  padding-left: 10px;
}

.ext_event {
  color: orange;
  padding-left: 10px;
}

/* Styles for larger screens */

@media screen and (min-width: 400px) {
  
  header {
    max-height: 109px;
    max-width: 300px;
  /*  background-image: url("img/MUCrest_195x195.png"); */
  }

/* tells table to behave */

}

@media screen and (min-width: 720px) {
  
  header {
    max-height: 109px;
    max-width: 300px;
  }

}

@media screen and (min-width: 1140px) {
  
  header {
    max-height: 218px;
    max-width: 600px;
  }

}
